*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding: 3em
}

input{
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: .8em;
  margin-right: .8em;
  overflow: hidden;
}

.card p{
  text-align: 5px;
  padding: .3em;
}

.card img{
  max-height: 170px;
}